.css-19tk58b {
    background: url(https://therig.sa/bg/sea.webp) no-repeat 50% 50% / cover;
    position: relative;
    z-index: 20;
    height: 80vh;
    -webkit-filter: none;
    filter: none;
}

@media screen and (max-width: 899px) {
    .css-19tk58b {
        height: 816px;
    }
}

@media screen and (min-width: 900px) {
    .css-19tk58b {
        height: 901px;
    }
}

@media screen and (min-width: 1200px) {
    .css-19tk58b {
        height: 901px;
    }
}

@media screen and (min-width: 1440px) {
    .css-19tk58b {
        height: 901px;
    }
}

@media screen and (min-width: 1601px) {
    .css-19tk58b {
        height: 1150px;
    }
}

.css-i9vblt {
    background: url('https://therig.sa/bg/egsBg.webp');
    z-index: 20;
    height: 890px;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 899px) {
    .css-i9vblt {
        height: auto;
    }
}

.css-qvju8t {
    width: 100%;
    height: 340px;
    margin: 0 !important;
    padding: 0px 82px;
    max-width: 100% !important;
    background: #494949;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .css-qvju8t {
        padding: 0px !important;
    }
}

@media screen and (max-width: 899px) {
    .css-qvju8t {
        padding: 0px !important;
        height: auto;
    }
}

.css-17fx44v {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 340px;
    margin: 0 !important;
    padding: 0px 82px;
    max-width: 100% !important;
    background: #494949;
    position: relative;
}

@media (min-width: 600px) {
    .css-17fx44v {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .css-17fx44v {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1200px) {
    .css-17fx44v {
        padding: 0px !important;
    }
}

@media screen and (max-width: 899px) {
    .css-17fx44v {
        padding: 0px !important;
        height: auto;
    }
}

.css-1lxviua {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
    padding: 80px 50px 80px;
    position: relative;
}

@media (min-width: 600px) {
    .css-1lxviua {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .css-1lxviua {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .css-1lxviua {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50%;
    }
}

@media (min-width: 1536px) {
    .css-1lxviua {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50%;
    }
}

@media screen and (max-width: 899px) {
    .css-1lxviua {
        background: url('https://therig.sa/bg/line-break-top.png') no-repeat 100% -80px/2000px 160px 160px #ff6a39;
        padding: 80px 50px 80px;
    }
}

.css-1xiwo48 {
    padding: 64px 60px 48px 60px;
    height: 382px;
    position: relative;
    background: #1d1d1b;
}

@media screen and (max-width: 899px) {
    .css-1xiwo48 {
        padding: 48px 20px;
        height: auto;
    }
}

.css-fy3zvu {
    background: #1d1d1b;
    position: relative;
    width: 100%;
    height: 405px;
}

@media screen and (max-width: 900px) {
    .css-fy3zvu {
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .css-fy3zvu .fact-grid .ar-grid-item:first-child {
        max-width: 25%;
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }

    .css-fy3zvu .fact-grid .ar-grid-item:nth-child(2) {
        max-width: 15%;
        -webkit-flex-basis: 15%;
        -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    }

    .css-fy3zvu .fact-grid .en-grid-item:first-child {
        max-width: 25%;
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }

    .css-fy3zvu .fact-grid .en-grid-item:nth-child(2) {
        max-width: 15%;
        -webkit-flex-basis: 15%;
        -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    }
}

.css-fy3zvu .fact-grid .en-grid-item:last-child>div {
    border: none;
}

.css-fy3zvu .fact-grid .ar-grid-item:first-child>div {
    border: none;
}

.css-dy1auj .Toastify__toast-container {
    min-width: 410px;
    -webkit-filter: none;
    filter: none;
}

.css-dy1auj .Toastify__toast-container--top-center {
    top: 168px;
}

.css-dy1auj .Toastify__toast {
    padding: 24px;
    border-radius: 0;
    min-height: auto;
    background-color: #6bcaba;
}

.css-dy1auj .Toastify__toast-body {
    margin: 0;
}

.css-dy1auj .Toastify__close-button {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    opacity: 1;
    color: #494949;
    position: relative;
    top: 2px;
}

.css-cea17v {
    background: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 32px 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 1;
}

@media screen and (max-width: 899px) {
    .css-cea17v {
        -webkit-padding-start: 24px !important;
        padding-inline-start: 24px !important;
        background: transparent;
    }
}

.css-cea17v.compressed {
    padding: 8px 60px;
    top: 0px;
}