._hj-Pbej5__styles__resetStyles * {
  line-height: normal;
  font-family: Arial, sans-serif, Tahoma !important;
  text-transform: initial !important;
  letter-spacing: normal !important;
}
._hj-Pbej5__styles__resetStyles *::before,
._hj-Pbej5__styles__resetStyles *::after {
  box-sizing: initial;
}
._hj-Pbej5__styles__resetStyles div {
  height: auto;
}
._hj-Pbej5__styles__resetStyles button {
  display: inline-block;
  height: auto;
  font-size: 1rem;
}
._hj-Pbej5__styles__resetStyles div,
._hj-Pbej5__styles__resetStyles span,
._hj-Pbej5__styles__resetStyles p,
._hj-Pbej5__styles__resetStyles a,
._hj-Pbej5__styles__resetStyles button {
  font-weight: normal !important;
}
._hj-Pbej5__styles__resetStyles div,
._hj-Pbej5__styles__resetStyles span,
._hj-Pbej5__styles__resetStyles p,
._hj-Pbej5__styles__resetStyles a,
._hj-Pbej5__styles__resetStyles img,
._hj-Pbej5__styles__resetStyles strong,
._hj-Pbej5__styles__resetStyles form,
._hj-Pbej5__styles__resetStyles label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  float: none !important;
}
._hj-Pbej5__styles__resetStyles span {
  color: inherit;
}
._hj-Pbej5__styles__resetStyles ol,
._hj-Pbej5__styles__resetStyles ul,
._hj-Pbej5__styles__resetStyles li {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
._hj-Pbej5__styles__resetStyles li:before,
._hj-Pbej5__styles__resetStyles li:after {
  content: none !important;
}
._hj-Pbej5__styles__resetStyles hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
._hj-Pbej5__styles__resetStyles input[type='submit'],
._hj-Pbej5__styles__resetStyles input[type='button'],
._hj-Pbej5__styles__resetStyles button {
  margin: 0;
  padding: 0;
  float: none !important;
}
._hj-Pbej5__styles__resetStyles input,
._hj-Pbej5__styles__resetStyles select,
._hj-Pbej5__styles__resetStyles a img {
  vertical-align: middle;
}
._hj-s3UIi__styles__globalStyles *,
._hj-s3UIi__styles__globalStyles *::before,
._hj-s3UIi__styles__globalStyles *::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'hotjar';
  src: url(https://script.hotjar.com/font-hotjar_5.f4b154.eot);
  src: url(https://script.hotjar.com/font-hotjar_5.f4b154.eot#iefix) format('embedded-opentype'),
    url(https://script.hotjar.com/font-hotjar_5.65042d.woff2) format('woff2'),
    url(https://script.hotjar.com/font-hotjar_5.0ddfe2.ttf) format('truetype'),
    url(https://script.hotjar.com/font-hotjar_5.17b429.woff) format('woff'),
    url(https://script.hotjar.com/font-hotjar_5.2c7ab2.svg#hotjar) format('svg');
  font-weight: normal;
  font-style: normal;
}
@keyframes _hj-eYRYp__styles__spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes _hj-5\+Z5O__styles__colors {
  0% {
    border-color: #f4364c;
    border-top-color: transparent;
  }
  25% {
    border-color: #00a2f2;
    border-top-color: transparent;
  }
  50% {
    border-color: #efb60c;
    border-top-color: transparent;
  }
  75% {
    border-color: #42ca49;
    border-top-color: transparent;
  }
  100% {
    border-color: #f4364c;
    border-top-color: transparent;
  }
}
._hj-s3UIi__styles__globalStyles p {
  color: inherit !important;
}
._hj-s3UIi__styles__globalStyles a,
._hj-s3UIi__styles__globalStyles a:link,
._hj-s3UIi__styles__globalStyles a:hover,
._hj-s3UIi__styles__globalStyles a:active {
  color: inherit !important;
  text-decoration: underline;
}
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon {
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  overflow-wrap: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  vertical-align: middle !important;
}
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon,
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon:before,
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon:after,
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon *,
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon *:before,
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon *:after {
  font-family: 'hotjar' !important;
  display: inline-block !important;
  direction: ltr !important;
}
._hj-s3UIi__styles__globalStyles ._hj-L5SMl__styles__icon:before {
  color: inherit !important;
}
._hj-s3UIi__styles__globalStyles ._hj-dk3Fb__styles__iconX:before {
  content: '\e803';
}
._hj-s3UIi__styles__globalStyles ._hj-9iDZB__styles__iconOk:before {
  content: '\e804';
}
._hj-s3UIi__styles__globalStyles ._hj-t13KX__styles__iconError:before {
  content: '\e90c';
}
._hj-s3UIi__styles__globalStyles ._hj-D\+oDX__styles__iconLogo:before {
  content: '\e806';
}
._hj-s3UIi__styles__globalStyles ._hj-Nbq9C__styles__iconSelectElement:before {
  content: '\e91a';
}
._hj-s3UIi__styles__globalStyles ._hj-mtJG6__styles__surveyIcons {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block !important;
  zoom: 1;
  vertical-align: middle;
}
._hj-widget-theme-light ._hj-s3UIi__styles__globalStyles ._hj-mtJG6__styles__surveyIcons {
  background-image: url(https://script.hotjar.com/widget_icons_light.766225.png);
}
._hj-widget-theme-dark ._hj-s3UIi__styles__globalStyles ._hj-mtJG6__styles__surveyIcons {
  background-image: url(https://script.hotjar.com/widget_icons_dark.ad934a.png);
}
._hj-s3UIi__styles__globalStyles ._hj-EZqbk__styles__inputField {
  font-family: Arial, sans-serif, Tahoma;
  font-size: 14px;
  color: #333 !important;
  padding: 6px !important;
  text-indent: 0 !important;
  height: 30px;
  width: 100%;
  min-width: 100%;
  background: white;
  border: 1px solid !important;
  outline: none !important;
  max-width: none !important;
  float: none;
  border-radius: 3px;
}
._hj-s3UIi__styles__globalStyles ._hj-AwaE7__styles__textarea {
  resize: none;
  height: 100px;
}
._hj-s3UIi__styles__globalStyles ._hj-EIBGi__styles__basicButton,
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton {
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 16px !important;
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: top;
  width: auto;
  zoom: 1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
}
._hj-s3UIi__styles__globalStyles ._hj-EIBGi__styles__basicButton:hover,
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:hover,
._hj-s3UIi__styles__globalStyles ._hj-EIBGi__styles__basicButton:focus,
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:focus,
._hj-s3UIi__styles__globalStyles ._hj-EIBGi__styles__basicButton:active,
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:active {
  background: #00a251;
}
._hj-s3UIi__styles__globalStyles ._hj-EIBGi__styles__basicButton[disabled],
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton[disabled] {
  cursor: default;
}
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 6px 16px !important;
  border: 0 !important;
  outline: 0 !important;
  min-height: initial !important;
  width: auto !important;
  min-width: initial !important;
  background: var(--hjFeedbackAccentColor) !important;
  color: var(--hjFeedbackAccentTextColor) !important;
  box-shadow: none !important;
}
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:hover,
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:focus,
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:active {
  background: var(--hjFeedbackAccentActiveColor) !important;
}
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:focus {
  background: var(--hjFeedbackAccentColor) !important;
  box-shadow: 0 0 0 1px var(--hjFeedbackPrimaryColor), 0 0 0 3px var(--hjFeedbackAccentColor) !important;
}
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton:hover {
  background: var(--hjFeedbackAccentHoverColor) !important;
}
._hj-s3UIi__styles__globalStyles ._hj-SU8LU__styles__primaryButton[disabled] {
  cursor: default;
  background: var(--hjFeedbackDisabledAccentColor) !important;
  color: var(--hjFeedbackDisabledAccentTextColor) !important;
}
._hj-s3UIi__styles__globalStyles ._hj-F457\+__styles__clearButton {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px !important;
  padding: 0 10px !important;
  border: 0 !important;
}
._hj-s3UIi__styles__globalStyles ._hj-F457\+__styles__clearButton,
._hj-s3UIi__styles__globalStyles ._hj-F457\+__styles__clearButton:hover,
._hj-s3UIi__styles__globalStyles ._hj-F457\+__styles__clearButton:focus,
._hj-s3UIi__styles__globalStyles ._hj-F457\+__styles__clearButton:active {
  background: transparent !important;
}
._hj-s3UIi__styles__globalStyles ._hj-hTm4\+__styles__answersContentWrapper {
  padding: 4px 12px 16px 12px;
}
._hj-s3UIi__styles__globalStyles ._hj-ag9y\+__styles__spinner {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-top-color: transparent !important;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: _hj-eYRYp__styles__spin 0.4s linear infinite,
    _hj-5\+ Z5O__styles__colors 5.6s ease-in-out infinite;
}
._hj-s3UIi__styles__globalStyles ._hj-H1LCt__styles__widget {
  font-size: 13px !important;
  position: fixed;
  z-index: 2147483640;
  bottom: -400px;
  right: 100px;
  width: 300px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
}
._hj-eJm8p__styles__rtl,
._hj-eJm8p__styles__rtl * {
  direction: rtl !important;
}
._hj-hc6BA__styles__roundedCorners {
  border-radius: 3px;
}
@media screen and (max-width: 480px) {
  ._hj-A4W17__styles__inlineSurvey {
    max-width: 100%;
    overflow-x: auto;
  }
}
